localhost, trans.meesdekker.com {
    tls internal
    # Serve Django static files
    handle_path /static/* {
        root * /srv/staticfiles
        file_server
    }

    # Django API routes
    handle /api* {
        uri strip_prefix /api
        reverse_proxy backend:8000 {
            transport http {
                versions h1
            }
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    # WebSocket-specific route
    handle /api/ws* {
        reverse_proxy backend:8000 {
            transport http {
                versions h1
            }
        }
    }

    # Catch-all for SvelteKit
    handle {
        reverse_proxy frontend:5173
    }
}
